body{
    margin: 0px;
    padding: 0px;
    background:hsl(0, 0%, 8%);
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{

    background: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}
.main .head1{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.main .head1 img{
    width: 30%;
    border-radius: 50%;
}
.main .head1 h1{
    margin: 0px;
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.main .head1 h2{
    margin-top: 4px;
    font-size: 12px ;
    color: hsl(75, 94%, 57%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main .head2 p{
    color: rgb(201, 201, 201);
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main .head3{
    display: flex;
    flex-direction: column;
     justify-content:space-between;
    width: 100%;
    height: 25vh;
}
.main .head3 button{
    width: 100%;
    border-radius: 5px;
    background:  hsl(0, 0%, 20%);
    color: white;
    border: none;
    padding: 12px 0;
}